<%= form_for(@lanalytics_datasource) do |f| %>
  <% if @lanalytics_datasource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lanalytics_datasource.errors.count, "error") %> prohibited this lanalytics_datasource from being saved:</h2>

      <ul>
      <% @lanalytics_datasource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :root_url %><br>
    <%= f.text_field :root_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
