<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lanalytics_datasource.name %>
</p>

<p>
  <strong>Root url:</strong>
  <%= @lanalytics_datasource.root_url %>
</p>

<%= link_to 'Edit', edit_lanalytics_datasource_path(@lanalytics_datasource) %> |
<%= link_to 'Back', lanalytics_datasources_path %>
