<h1>Listing research_cases</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @research_cases.each do |research_case| %>
      <tr>
        <td><%= research_case.title %></td>
        <td><%= link_to 'Show', research_case %></td>
        <td><%= link_to 'Edit', edit_research_case_path(research_case) %></td>
        <td><%= link_to 'Destroy', research_case, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Research case', new_research_case_path %>
